<h1 class="display-4"> Página de venta de vehículos</h1>


<figure class="figure">
  <img src="https://static8.depositphotos.com/1007989/954/i/450/depositphotos_9548598-stock-illustration-car-mascot-giving-a-thumbs.jpg" class="figure-img img-fluid rounded" alt="...">

</figure>


<figure class="text-center">
  <blockquote class="blockquote">
    <p>Ximena Pazmino</p>
  </blockquote>
  <figcaption class="blockquote-footer">
     <cite title="Source Title">Angular Project</cite>
  </figcaption>
</figure>