<div class="card">
  <div class="card-header">
    CREACION DE CLIENTE
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <form>
       
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">id</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="id" formControlName="id">
              <span class="text-danger" *ngIf="formulario.controls['id'].errors?.['required']">Valor
                Requerido</span>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="nombre" formControlName="nombre">
              <span class="text-danger" *ngIf="formulario.controls['nombre'].errors?.['required']">Valor
                Requerido</span>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Apellido:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="apellido" formControlName="apellido">
              <span class="text-danger" *ngIf="formulario.controls['apellido'].errors?.['required']">Valor
                Requerido</span>
            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Contraseña:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="password" formControlName="password">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">Correo eletrónico:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="staticCodigo" name="email"
                formControlName="email">
            </div>
          </div>

          <div class="mb-3 row">
            <label for="staticCodigo" class="col-sm-2 col-form-label">telefono:</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" id="staticCodigo" name="telefono" formControlName="telefono">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-info" (click)="guardarCliente()">GUARDAR</button>

    </div>
  </div>
</div>